<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC627rG6YJgIl9nTicy-kAeVfA9JYP0JrM</string>
	<key>GCM_SENDER_ID</key>
	<string>990525255496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adamultiMobileCloneNew.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>adamultiapp</string>
	<key>STORAGE_BUCKET</key>
	<string>adamultiapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990525255496:ios:683b52f22c018ee5918d7d</string>
</dict>
</plist>